<main class="mw6 center tc">
  <p>Your call is ready to make.</p>
  <%= link_to "Call Now", "tel://12035338536",
    method: :post,
    class: "f2 bg-black ba b--black-10 dim pointer pv1 ph3 white" %>
</main>

