<% if @friend %>
  <p>You are <%= @friend.email %> are a match!</p>
  <p>We should set up a call!</p>
  <%= link_to "Call Now", ncco_path + '?' + {id: @friend.id}.to_param, method: :post %>
<% else %>
  <p>You need to match first</p>
<% end %>
