<h1>Your Matches</h1>

<ul>
<% @matches.each do |match| %>
  <li>
    <p><%= match.email %></p>
    <p><%= match.interest_list %></p>
    <%= link_to "Swipe Right", friends_path(friend_id: match.id), method: :post %>
  </li>
<% end %>
</ul>
